<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
        <meta HTTP-EQUIV="Pragma" content="no-cache">
        <meta HTTP-EQUIV="Expires" content="-1">
    {% endblock %}


    {% block styles %}
        <!-- Favicon-->
        <link rel="icon" href="{{ url_for("static", filename="images/favicon.ico") }}">

        <!-- RESET CSS -->
        <link rel="stylesheet" href="{{ url_for("static", filename="css/reset.css") }}">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for("static", filename="css/custom.css") }}">
        
        <!-- FONTS -->
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

    {% endblock %}    
    
    
</head>

<body>
    
    <!-- HEADER -->
    <header>
        {% block header %}{% endblock %}
    </header>
    
    <!-- MAIN -->
    <main>
        {% block main %}{% endblock %}
    </main>

    <!-- FOOTER  -->
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    
    {% block scripts %}
        <!-- CUSTOM JS -->
        <link rel="text/javascript" href="{{ url_for("static", filename="js/main.js") }}">
    {% endblock %}
</body>

</html>